<div class="area-container">
  <h2>{{ title }}</h2>  
  <p>{{ description }}</p>  

  <input 
    type="text" 
    [(ngModel)]="inputValue"  
    placeholder="Entrez un élément" 
  />    <br>
  <button (click)="addItem()">Ajouter un élément</button> 
  <button (click)="suppress()">Supprimer un élément</button>
  <button (click)="toggleRandomColoring()">{{ buttonLabel }}</button><br>
  
  <button (click)="sortList()">Trier la liste (A-Z)</button>
  <button (click)="reverseSortList()">Trier la liste (Z-A)</button>
  <button (click)="shuffleList()">Liste aléatoire</button> 

  <ul>
    <li *ngFor="let item of items; let i = index" [ngStyle]="{'color': getColor(i)}">
      {{ item }}
    </li> 
  </ul>
</div>
